<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>.::Diver Plaza::.</title>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/idangerous.swiper.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="style.css"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>
	$(function() {
        $.fn.parallax = function(options){
            var $$ = $(this);
            offset = $$.offset();
            var defaults = {
                "start": 0,
                "stop": offset.top + $$.height(),
                "coeff": 0.95
            };
            var opts = $.extend(defaults, options);
            return this.each(function(){
                $(window).bind('scroll', function() {
                    windowTop = $(window).scrollTop();  
                    if((windowTop >= opts.start) && (windowTop <= opts.stop)) {
                        newCoord = windowTop * opts.coeff;
                        //console.log($$)
                         
                        $$.css({
                            "background-position": "0 "+ newCoord + "px"
                        });
                    } 
                });
            });
        };    
        $('#home').parallax({ "coeff":-0.65 });
        $('#home .inner').parallax({ "coeff":1.15 });
        	    
	})
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	$objWindow = $(window);
	$('div[data-type="background"]').each(function(){
		var $bgObj = $(this);
		$(window).scroll(function() {
			var yPos = -($objWindow.scrollTop() / $bgObj.data('speed')); 
           
			var coords = '100% '+ yPos + 'px';
            // Animate the background
			 $bgObj.css({ backgroundPosition: coords });
           
		});
		
	});
});
</script>
<script type="text/javascript">
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 1000);
		        return false;
		      }
		    }
		  });
		});
	</script>

</head>
<body>
</div>
	<div id="main_header">
		<header>	
			<figure id="logo">
				<a href="index.html"><img src="img/misc/logo.png" alt=""></a>
			</figure>
			<nav id="nav_redes">
				<div class="title_nav_redes">
					Comunidad Virtual Diverplaza:
				</div>
				<ul>
					<li><a class="face" href="https://www.facebook.com/DiverPlazaCC" target="_blank"></a></li>
					<li><a class="twit" href="https://twitter.com/DiverPlazaCC" target="_blank"></a></li>
					<li><a class="fore" href="https://es.foursquare.com/v/diver-plaza/4bec6966c43f2d7fc0d9dbd9" target="_blank"></a></li>
				</ul>
			</nav>
		</header>
		<nav class="nav_general">
			<div id="dl-menu" class="dl-menuwrapper">
				<button class="dl-trigger">Open Menu</button>
				<ul class="dl-menu">
					<li><a href="index.html">Inicio</a></li>
					<li><a href="conocenos.html">Conocenos</a></li>
					<li><a href="tiendas.html">Tiendas</a></li>
					<li><a href="zonaD.html">Diversion</a></li>
<!-- 					<li><a href="#">Eventos</a></li>
					<li><a href="#">Divercliente</a></li> -->
					<li><a href="servicios.html">Servicios</a></li>
					<li><a href="contacto.html">Contáctenos</a></li>
				</ul>
			</div><!-- /dl-menuwrapper --><!-- /container -->
		</nav>
	</div>
	<div>
</div>
	

	<h1 class="main_titulos">FUNDACIÓN <strong>DIVERPLAZA</strong></h1>
	<div class="div"></div>
	<p style="margin:30px 100px; padding-bottom: 1em; text-align: center;" >Consientes de nuestra responsabilidad social y de las diversas problemáticas que aquejan a nuestra comunidad, nace en el año 2009 la Fundación DiverPlaza, cuyo objetivo es desarrollar programas en beneficio de la comunidad de la localidad de Engativá, enfocados principalmente en apoyar el proceso de crecimiento y desarrollo en la infancia, adolescencia y juventud. Desde la Fundación también apoyamos actividades con entidades del distrito como el IDRD y la Alcaldía Menor de Engativá.</p>

	<h3 style="color: #ed9c00; font-size:30px; text-align:center;">
					Navega servicios
		</h3>
	<a href="#servicio1" style="display: block; text-align:center;"><img src="img/misc/div.png" alt=""></a>

	<section id="fundacion" >
		<article id="servicio1">
			<h2 class="main_titulos">Yo quiero <strong>SER</strong></h2>
			<p style="padding-bottom: 3em; text-align: center;" >Apoyados por diversas entidades de orden privado y público, el programa “Yo quiero ser” ofrece a los niños vinculados a la Fundación DiverPlaza vacaciones lúdico-recreativas, basadas en un componente vocacional y experiencial, promoviendo un contacto directo con diversas profesiones de la sociedad al mismo tiempo que concientiza sobre la importancia de aportar a la sociedad desde cualquiera que sea la profesión que elijan para su vida</p>
			<div id="home" class="bg_parralax" data-type="background" data-speed="10">	
				<!-- <div class="inner" style="background-position: 0px 293.25px;"></div> -->
			</div>
		</article>

	    <article id="servicio2">
			<h2 class="main_titulos">Diver futbol  <strong>por la PAZ</strong></h2>
			<p style="padding-bottom: 3em; text-align: center;" >DiverFútbol por la paz es un programa que apoyado en el poder de convocatoria del fútbol genera transformación social, promoviendo desde la infancia y la adolescencia una nueva forma de vida donde los valores guían las prácticas sociales.</p>
			<div id="about" class="bg_parralax" data-type="background" data-speed="20">	
				<!-- <div class="inner" style="background-position: 0px 293.25px;"></div> -->
			</div>
		</article>
	</section>
	
	<footer>
		<p style="font-size:30px; color: #edd03b;">Diverplaza Centro Comercial</p>
		<p>Transversal 96 #70a-85, Alamos, Bogotá, Colombia</p>
		<p>57+1 430 40 73</p>
		<p style="color: #edd03b;">jefe.eventos@diverplaza.com</p>
		<p>© 2014 - www.diverplaza.com</p>
	</footer>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	
	<script src="js/jquery.js"></script>
	<script src="js/jquery-1.10.1.min.js"></script>
  	<script src="js/idangerous.swiper-2.1.min.js"></script>
	<script src="js/modernizr.custom.js" ></script>
	<script src="js/jquery.dlmenu.js"></script>
 	<script>
		$(function() {
			$( '#dl-menu' ).dlmenu();
		});
	</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	$objWindow = $(window);
	$('div[data-type="background"]').each(function(){
		var $bgObj = $(this);
		$(window).scroll(function() {
			var yPos = -($objWindow.scrollTop() / $bgObj.data('speed')); 
           
			var coords = '100% '+ yPos + 'px';
            // Animate the background
			 $bgObj.css({ backgroundPosition: coords });
           
		});
		
	});
});
</script>
<script type="text/javascript">
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 1000);
		        return false;
		      }
		    }
		  });
		});
	</script>
</body>
</html>
